<style>
    li > a > span {
        color: gray;
    }
</style>
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="sidebar-user-panel active">
                <div class="user-panel">
                    <div class=" image">
                        <img src="@Url.Content("~/assets/images/main-logo.jpg")" class="user-img-style" alt="User Image" />
                    </div>
                </div>
                <div class="profile-usertitle">
                    <div class="sidebar-userpic-name"> Dembil Dolo University </div>
                    <div class="profile-usertitle-job ">ERP System </div>
                </div>
            </li>
                        
            <li class="header mb-5">
                @if(ViewData["category"] == "hr"){
                    <a class="menu-toggle">HR Management</a>
                }
                else{
                    <a class="menu-toggle toggled">HR Management</a>
                }
                <ul>
                    @if(ViewData["name"] == "index") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Home")">
                            <i data-feather="monitor"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "employees") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Employees")">
                            <i data-feather="users"></i>
                            <span>Employees</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "departments") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Department")">
                            <i data-feather="briefcase"></i>
                            <span>Department</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "jobs") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Recruitment")">
                            <i data-feather="book-open"></i>
                            <span>Recruitment</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "leave") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Leave")">
                            <i data-feather="git-commit"></i>
                            <span>Leave Management</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "PerDiem") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","PerDiem")">
                            <i data-feather="watch"></i>
                            <span>PerDiem</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "Promotion/Demotion") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","PromotionDemotion")">
                            <i data-feather="trello"></i>
                            <span>Promotion Demotion</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "Transfer") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Index","Transfer")">
                            <i data-feather="command"></i>
                            <span>Transfer</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "training") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Training","Home")">
                            <i data-feather="package"></i>
                            <span>Traning</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "TerminationRehire") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("TerminationRehire","Home")">
                            <i data-feather="copy"></i>
                            <span>Termination Rehire</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "attendance") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Attendance","Home")">
                            <i data-feather="check-circle"></i>
                            <span>Attendance</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "payroll") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Payroll","Home")">
                            <i data-feather="credit-card"></i>
                            <span>Payroll</span>
                        </a>
                    </li>
                </ul>
                @if(ViewData["category"] == "inventory"){
                    <a class="menu-toggle">Inventory Management</a>
                }
                else{
                    <a class="menu-toggle toggled">Inventory Management</a>
                }
                <ul>
                    @if(ViewData["name"] == "property") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("PropertyManagement","Home")">
                            <i data-feather="server"></i>
                            <span>Property Management</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "inventory") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("InventoryManagement","Home")">
                            <i data-feather="archive"></i>
                            <span>Inventory Management</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "administration") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Administration","Home")">
                            <i data-feather="user"></i>
                            <span>Administration</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "procurement") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("ProcurementLifeCycle","Home")">
                            <i data-feather="refresh-ccw"></i>
                            <span>Procurement Lifecycle</span>
                        </a>
                    </li>

                </ul>
                @if(ViewData["category"] == "bid"){
                    <a class="menu-toggle">Bidding System</a>
                }
                else{
                    <a class="menu-toggle toggled">Bidding System</a>
                }
                <ul>
                    @if(ViewData["name"] == "bidRequest") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("BidRequest","Home")">
                            <i data-feather="bell"></i>
                            <span>Bid request</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "bidAnnouncement") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("BidAnnouncement","Home")">
                            <i data-feather="volume-2"></i>
                            <span>Bid announcement</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "bidApproval") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("BidApproval","Home")">
                            <i data-feather="check-square"></i>
                            <span>Bid Approval</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "bidFollowup") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("BidFollowUp","Home")">
                            <i data-feather="activity"></i>
                            <span>Bid follow-up</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "confirmation") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("InventoryConfirmation","Home")">
                            <i data-feather="thumbs-up"></i>
                            <span>Inventory Confirmation</span>
                        </a>
                    </li>
                </ul>
                @if(ViewData["category"] == "archive"){
                    <a class="menu-toggle">Archive System</a>
                }
                else{
                    <a class="menu-toggle toggled">Archive System</a>
                }
                <ul>
                    @if(ViewData["name"] == "attachments") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Attachments","Home")">
                            <i data-feather="paperclip"></i>
                            <span>Attachments</span>
                        </a>
                    </li>
                    @if(ViewData["name"] == "documents") {<text><li class="active"></text>} else {<text><li></text>}
                        <a href="@Url.Action("Documents","Home")">
                            <i data-feather="folder"></i>
                            <span>Documents</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>