@{
    ViewData["Title"] = "Add Inventory Item";
    ViewData["name"] = "propertyManagement";
    ViewData["category"] = "inventory";
}
@model InvInventoryItem
@section Content {
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Inventory Item</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="../../index.html">
                                <i class="fas fa-home"></i> Inventory
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onclick="return false;">Item</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Add</strong> Inventory Item
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu float-end" style="">
                                    <li>
                                        <a href="javascript:void(0);">Action</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Another action</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select asp-for="NatureID" class="col-12 m-t-20 p-l-0" select2">
                                                <option selected disabled>Select Item Nature</option>
                                                @foreach (var nature in ViewData["itemDestination"] as List<DDU.Models.InvItemDestination>)
                                                {
                                                    <option value="@nature.NatureID">@nature.NatureName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select asp-for="FamID" class="col-12 m-t-20 p-l-0" select2">
                                                <option selected disabled>Select Item Family</option>
                                                @foreach (var family in ViewData["ItemFamily"] as List<DDU.Models.InvItemFamily>)
                                                {
                                                    <option value="@family.FamID">@family.FamName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select asp-for="TypeID" class="col-12 m-t-20 p-l-0" select2">
                                                <option selected disabled>Select Item Type</option>
                                                @foreach (var type in ViewData["ItemType"] as List<DDU.Models.InvItemType>)
                                                {
                                                    <option value="@type.TypeID">@type.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select asp-for="DivisionID" class="col-12 m-t-20 p-l-0" select2">
                                                <option selected disabled>Select Division</option>
                                                @foreach (var division in ViewData["ItemDivision"] as List<DDU.Models.InvDivision>)
                                                {
                                                    <option value="@division.DivID">@division.DivName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="ItemCode" class="form-control" placeholder="ItemCode" />
                                            <span asp-validation-for="ItemCode" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="ItemName" class="form-control" placeholder="ItemName" />
                                            <span asp-validation-for="ItemCode" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="SeqNo" class="form-control" placeholder="SeqNo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <select asp-for="UnitMeasure" class="col-12 m-t-20 p-l-0" select2">
                                                <option selected disabled>Select Unit Measure</option>
                                                @foreach (var unit in ViewData["invUnitMeasure"] as List<DDU.Models.InvUnitMeasure>)
                                                {
                                                    <option value="@unit.UnitMeasureCode">@unit.UnitMeasureCode</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="UnitCost" class="form-control" placeholder="UnitCost" />
                                            <span asp-validation-for="UnitCost" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input asp-for="BegQty" type="text" class="form-control" placeholder="BegQty" />
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="BegUnitCost" class="form-control" placeholder="BegUnitCost" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="BegDate" type="text" class="form-control datetimepicker flatpickr-input" placeholder="BegDate" onfocus="(this.type='Date')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="Quantity" class="form-control" placeholder="Quantity" />
                                            <span asp-validation-for="Quantity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="PackageSize" class="form-control" placeholder="PackageSize" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="ManPartNo" class="form-control" placeholder="ManPartNo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input asp-for="StoreID" class="form-control" placeholder="StoreID" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="Shelf" class="form-control" placeholder="Shelf" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">

                                            <input asp-for="Row" class="form-control" placeholder="Row" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="Box" class="form-control" placeholder="Box" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="Remark" class="form-control" placeholder="Remark" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input asp-for="Description" class="form-control" placeholder="Description" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input asp-for="Minimum" class="form-control" placeholder="Minimum" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label col-md-3">Upload Item Image</label>
                                    <div class="dz-message">
                                        <div class="drag-icon-cph">
                                            <input name="file" class="form-control" type="file" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 p-t-20 text-center">
                                <button type="submit" class="btn btn-primary waves-effect m-r-15">Submit</button>
                                <button type="button" class="btn btn-danger waves-effect">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }