@model IEnumerable<DDU.Models.InvSupplier>

<div class="section-header">
<h1>Suppliers List</h1>

<p>
    <a asp-action="AddSupplier" class="btn btn-success"> + Create New</a>
</p>
</div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catagory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pobox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pobox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="EditSupplier" asp-route-id="@item.SupplierID">Edit</a> |
                <a asp-action="SupplierDetail" asp-route-id="@item.SupplierID">Details</a> |
                <a asp-action="DeleteSupplier" asp-route-id="@item.SupplierID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
