@model IEnumerable<TblLeaveType>
@{
    ViewData["Title"] = "Home Page";
    ViewData["name"] = "HRSettings";
    ViewData["category"] = "hr";
    int count = 1;
}

@section Content{
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Leave Type</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#">
                                <i class="fas fa-home"></i> HR
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Leave</a>
                        </li>
                        <li class="breadcrumb-item active">Leave Type</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header sectionHeader">
                        <div>
                            <button type="button" onclick="location.href='@Url.Action("Index","Leave")'" class="btn btn-secondary waves-effect">Leave Request</button>
                            <button type="button" onclick="location.href='@Url.Action("Types","Leave")'" class="btn btn-secondary waves-effect active">Leave Types</button>
                        </div>
                        <button data-bs-toggle="modal" data-bs-target="#addLeaveType" class="btn btn-sucess d-flex align-items-center"><i class="fa fa-plus-circle me-2"></i> Add Leave Type</button>

                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example contact_list">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th> No of Days </th>
                                        <th> Is Paid</th>
                                        <th> Condition </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        if (obj != null)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@count</td>
                                                <td>@obj.LeaveType</td>
                                                <td>
                                                    <div class="badge col-green">@obj.NoOfDays</div>
                                                </td>
                                                <td>@obj.Pay</td>
                                                @if(@obj.Condition != null){
                                                    <td>@obj.Condition</td>
                                                }
                                                else{
                                                    <td class="ml-1">-</td>
                                                }
                                                <td>
                                                    <button class="btn tblActnBtn" onclick="populateLeaveTypes('@obj.LeaveTypeId','@obj.LeaveType','@obj.Pay','@obj.NoOfDays','@obj.Condition','@obj.Description')" data-bs-toggle="modal" data-bs-target="#addLeaveType">
                                                        <i class="material-icons">mode_edit</i>
                                                    </button>
                                                    <a onclick="return WarnDelete()" href="@Url.Action("DeleteTypes","Leave", new{ leaveTypeId = obj.LeaveTypeId })" class="btn btn-tbl-delete">
                                                        <i class="material-icons">delete</i>
                                                    </a>
                                                </td>
                                            </tr>
                                            count += 1;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addLeaveType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" action="@Url.Action("AddLeaveType","Leave")">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Leave Type</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="LeaveType" id="LeaveType" class="form-control" placeholder="Input leave type" />
                    </div>
                    <div class="modal-body">
                        <select name="Pay" id="Pay">
                            <option value="Yes">Pay</option>
                            <option value="No">No Pay</option>
                        </select>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="NoOfDays" id="NoOfDays" class="form-control" placeholder="Number of Days" />
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="Condition" name="Condition" placeholder="Input Conditions" />
                        <input type="hidden" name="LeaveTypeId" id="LeaveTypeId" value="0" />
                        <input type="hidden" name="IsDeleted" id="IsDeleted" value="0" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        function populateLeaveTypes(LeaveTypeId, LeaveType, Pay, NoOfDays, Condition, Description) {
            $("#LeaveTypeId").val(LeaveTypeId);
            $("#LeaveType").val(LeaveType);
            $("#Pay").val(Pay);
            $("#NoOfDays").val(NoOfDays);
            $("#Condition").val(Condition);
            $("#Description").val(Description);
        }

        function WarnDelete() {
            var check = confirm("Are you sure you want to delete");
            if (check) {
                return true;
            }
            return false;
        }
    </script>
}
